<header>
    <div class="wrapper">
        <a routerLink="">
            <h1>SNAKER88</h1>
        </a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, sint? Quaerat corporis tempore sint exercitationem.</p>
    </div>
</header>
<main>
    <div class="wrapper">
        <router-outlet></router-outlet>
        <div class="archive_link">
            <a href="#">
                <h2>Show Archive</h2>
            </a>
        </div>

    </div>
</main>
<footer>
    <div class="wrapper">
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, facere.</span>
    </div>
</footer>