.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header {
    background: #6a36852e;
}

.telegram_link {
    margin-left: auto;
}

main {
    margin: 1.5rem 0 4.5rem;
}

footer {
    background: #6a36852e;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}