<h2>List of Clients:</h2>
<div class="element_wrap">
    <div *ngFor="let company of company" class="element">
        <div class="element_title">
            <h3>{{company.name}}</h3>
        </div>
        <div class="element_main">
            <ul>
                <li>Manager: {{company.manager}}</li>

            </ul>
        </div>
        <div class="element_footer">
            <p>{{company.descr}}</p>

        </div>
        <div class="buttons_block">
            <a [routerLink]="['company', company.id]">View</a>
            <button (click)="delete(company.id)">Delete</button>
        </div>
    </div>
    <a routerLink="add-company" class="element added_block">
        <h3>Add Company</h3>
    </a>
</div>

<div class="archive_link">
    <a href="#">
        <h2>Show Archive</h2>
    </a>
</div>