/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
html {
    position: relative;
    min-height: 100%;
}

body {
    background: #20182d;
    color: #ffffff;
    height: 100%;
}

a {
    text-decoration: none;
}